
.uploadImg{
    height: 70%;
 
}
body{
    height: 100vh;
}

.words{
    display: flex;
    padding-top: 10%;
    flex-direction: column;
    justify-content: center;
}

.full-body{
    display: flex;
    flex-direction: column;
    
}

.form-upload{
    width: 20rem;
    object-fit: cover;
}

.words{
    font-size: x-large;
    font-style: italic;
    flex-direction: column;
    align-items: center;
}

#capture {
    background-color: #34693a!important;
}

@media screen  and (max-width: 451px){
    .words{
        font-size: small !important;
        font-style: italic;
        flex-direction: column;
        align-items: center;
        padding-top: 25%;
    }
    .form-upload{
        width: 90% !important;
        margin-top: 15% !important;
    }
   
  
}

@media screen  and (max-width: 321px){
    .words{
        font-size: x-small !important;
    }
}



    .form-upload {
        min-height: 40vh;
        margin-top: 8%;
        
    }
